body {
  background: whitesmoke;
  color: black;
  height: 100vh;
}

img {
  padding-left: 25%;
  width: 400px;
  height: 400px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  font-weight: bold;
}

p,
h1 {
  border: black 3px solid;
  border-radius: 5px;
  background: white;
  transform: skewX(-10deg);
  padding: 5px;
}

button {
  color: white;
  border: black 3px solid;
  border-radius: 5px;
  padding: 12px 32px;
  font-weight: bold;
  cursor: pointer;

  background: linear-gradient(267.72deg, #F02A2F 0.88%, #EA1D22 100%);
  transform: skewX(-10deg);
  transition: .7s ease;
}

button:hover {
  background: rgb(90, 90, 255);
}

@media only screen and (max-width:925px) {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  article {
    padding: 0;
    padding-right: 20px;
  }

  img {
    padding-left: 0;
  }
}
